@charset "utf-8";
.head_full{height:41px;}
.title_full{height:120px;}
.title_full .title{width:1200px;height:120px;margin-left:-600px;position:absolute;left:50%;}
.title .title_logo{width:133px;height:84px;position:absolute;top:6px;left:20px;}
.title .title_title{width:210px;height:95px;position:absolute;top:0;left:160px;}
/*图片展示框架*/
.title .autoimg{width:1200px;height:404px;position:absolute;top:120px;left:0px;overflow:hidden;}
.parentdiv{overflow:hidden;height:404px;width:1200px;margin:0;padding:0;}
/*图片缩略图列表*/
.imglist{width:0px;height:0;float:left;margin:0;padding:0;}
.imglist li{list-style:none;width:0px;height:0px;overflow:hidden;float:left;}
.imglist li img{width:0px}
/*清除浮动*/
.clearboth{clear:both}

.slide_full{height:404px;}
.slide_full .slide{width:1200px;height:404px;margin-left:-600px;position:absolute;left:50%;}